In [37]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [38]:
os.chdir('/Users/TigeressQueen/Downloads/Python for Data Science/DS_mod4/Assignment_Module 4/codes')

In [39]:
#Read the three files

math = pd.read_csv('MathScoreTerm1.csv')               
physics = pd.read_csv('PhysicsScoreTerm1.csv')
DS = pd.read_csv('DSScoreTerm1.csv')

In [41]:
#Preview the dataset

print (math.head())
print (physics.head())
print (DS.head())

             Name  Score  Age         Ethinicity Subject Sex  ID
0  AI-KYUNG CHUNG   88.0   18     White American   Maths   M   1
1     ALAN HARVEY   85.0   19  European American   Maths   M   2
2    ALAN REYNAUD   45.0   19  European American   Maths   M   3
3  ALBERT CENDANA   82.0   18     White American   Maths   M   4
4  ALBERT HOLT JR   82.0   18     White American   Maths   F   5
             Name  Score  Age         Ethinicity  Subject Sex  ID
0  AI-KYUNG CHUNG   84.0   18     White American  Physics   M   1
1     ALAN HARVEY   81.0   19  European American  Physics   M   2
2    ALAN REYNAUD   41.0   19  European American  Physics   M   3
3  ALBERT CENDANA   78.0   18     White American  Physics   M   4
4  ALBERT HOLT JR   78.0   18     White American  Physics   F   5
             Name  Score  Age         Ethinicity        Subject Sex  ID
0  AI-KYUNG CHUNG   82.0   18     White American  Data Structue   M   1
1     ALAN HARVEY   79.0   19  European American  Data Structue   M   2
2    ALAN REYNAUD   39.0   19  European American  Data Structue   M   3
3  ALBERT CENDANA   76.0   18     White American  Data Structue   M   4
4  ALBERT HOLT JR   76.0   18     White American  Data Structue   F   5

In [17]:
 #2 deleting Name and Ethnicity from the dataset to enforce confidentality

math = math.drop(['Name','Ethinicity'],axis=1)
physics = physics.drop(['Name','Ethinicity'],axis=1)
DS = DS.drop(['Name','Ethinicity'],axis=1)
print (math)

     Score  Age Subject Sex   ID
0     88.0   18   Maths   M    1
1     85.0   19   Maths   M    2
2     45.0   19   Maths   M    3
3     82.0   18   Maths   M    4
4     82.0   18   Maths   F    5
5     95.0   20   Maths   M    6
6     95.0   18   Maths   M    7
7     65.0   19   Maths   M    8
8     88.0   18   Maths   M    9
9     88.0   19   Maths   F   10
10    53.0   20   Maths   M   11
11    53.0   20   Maths   M   12
12    66.0   19   Maths   M   13
13    88.0   18   Maths   M   14
14    88.0   21   Maths   F   15
15    82.0   20   Maths   M   16
16    31.0   18   Maths   M   17
17    95.0   18   Maths   M   18
18    91.0   18   Maths   M   19
19    66.0   18   Maths   F   20
20    82.0   18   Maths   M   21
21    66.0   18   Maths   M   22
22    75.0   18   Maths   M   23
23    65.0   19   Maths   M   24
24    91.0   20   Maths   F   25
25    91.0   18   Maths   M   26
26    53.0   20   Maths   M   27
27    91.0   20   Maths   M   28
28    88.0   21   Maths   M   29
29    85.0   19   Maths   F   30
..     ...  ...     ...  ..  ...
569   65.0   19   Maths   F  570
570   45.0   19   Maths   M  571
571   82.0   20   Maths   M  572
572   53.0   18   Maths   M  573
573   85.0   18   Maths   M  574
574   75.0   20   Maths   F  575
575   85.0   21   Maths   M  576
576   75.0   18   Maths   M  577
577   85.0   19   Maths   M  578
578   82.0   18   Maths   M  579
579   65.0   21   Maths   F  580
580   95.0   18   Maths   M  581
581   91.0   20   Maths   M  582
582   45.0   21   Maths   M  583
583   95.0   18   Maths   M  584
584   91.0   18   Maths   F  585
585   53.0   20   Maths   M  586
586   85.0   19   Maths   M  587
587   45.0   18   Maths   M  588
588   88.0   19   Maths   M  589
589   82.0   20   Maths   F  590
590   65.0   19   Maths   M  591
591   88.0   19   Maths   M  592
592   91.0   20   Maths   M  593
593   88.0   19   Maths   M  594
594   45.0   19   Maths   F  595
595   75.0   18   Maths   M  596
596   53.0   20   Maths   M  597
597   75.0   20   Maths   M  598
598   88.0   19   Maths   M  599

[599 rows x 5 columns]

In [42]:
#Check summary of missing values

print (math.isnull().sum())

Name          0
Score         3
Age           0
Ethinicity    0
Subject       0
Sex           0
ID            0
dtype: int64

In [43]:
#Fill missing score with 0
math['Score'] = math['Score'].fillna(0)
print (math.isnull().sum())

Name          0
Score         0
Age           0
Ethinicity    0
Subject       0
Sex           0
ID            0
dtype: int64

In [44]:
#Do the same for physics and DS
print (physics.isnull().sum())

#filemerge = pd.concat([math,physics,DS],axis=1)           #4 merge 3 files

Name          0
Score         6
Age           0
Ethinicity    0
Subject       0
Sex           0
ID            0
dtype: int64

In [45]:
physics['Score'] = physics['Score'].fillna(0)
print (physics.isnull().sum())

Name          0
Score         0
Age           0
Ethinicity    0
Subject       0
Sex           0
ID            0
dtype: int64

In [46]:
print (DS.isnull().sum())

Name          0
Score         8
Age           0
Ethinicity    0
Subject       0
Sex           0
ID            0
dtype: int64

In [47]:
DS['Score'] = DS['Score'].fillna(0)
print (DS.isnull().sum())

Name          0
Score         0
Age           0
Ethinicity    0
Subject       0
Sex           0
ID            0
dtype: int64

In [48]:
#merge all dataset
combinedalldata = pd.concat([math,physics,DS])
print (combinedalldata)

                          Name  Score  Age         Ethinicity        Subject  \
0               AI-KYUNG CHUNG   88.0   18     White American          Maths
1                  ALAN HARVEY   85.0   19  European American          Maths
2                 ALAN REYNAUD   45.0   19  European American          Maths
3               ALBERT CENDANA   82.0   18     White American          Maths
4               ALBERT HOLT JR   82.0   18     White American          Maths
5               ALBERT PARDINI   95.0   20     White American          Maths
6                    ALBERT YU   95.0   18     White American          Maths
7              ALBERTO PEDRUCO   65.0   19     White American          Maths
8                   ALEC BALMY   88.0   18           Hispanic          Maths
9            ALEETA VAN RUNKLE   88.0   19           Hispanic          Maths
10                    ALEX TSE   53.0   20     White American          Maths
11              ALEXANDER CHEN   53.0   20     White American          Maths
12              ALEXANDER KWAN   66.0   19     White American          Maths
13              ALEXIS GOLDNER   88.0   18     White American          Maths
14                ALLEN TURPIN   88.0   21     White American          Maths
15                   ALSON LEE   82.0   20     White American          Maths
16                   ALVIN LAU   31.0   18     White American          Maths
17                   AMEN CHOW   95.0   18  European American          Maths
18            AMPARO RODRIGUEZ   91.0   18           Hispanic          Maths
19                   AMY BROWN   66.0   18     White American          Maths
20                    AMY HART   82.0   18           Hispanic          Maths
21                 ANA SAMPERA   66.0   18  European American          Maths
22            ANDRE ANDREWS SR   75.0   18     White American          Maths
23              ANDRE WILLIAMS   65.0   19           Hispanic          Maths
24                ANDREW LOGAN   91.0   20  European American          Maths
25                ANDREW SAITZ   91.0   18     White American          Maths
26                 ANDY ZANOFF   53.0   20           Hispanic          Maths
27              ANGELA PLATZER   91.0   20  European American          Maths
28                  ANN MANNIX   88.0   21           Hispanic          Maths
29                  ANNA BROWN   85.0   19     White American          Maths
..                         ...    ...  ...                ...            ...
569                 TRYG MCCOY   59.0   19           Hispanic  Data Structue
570             TUAMELIE MOALA   39.0   19  European American  Data Structue
571              TYRONE PRUITT   76.0   20           Hispanic  Data Structue
572             TYRONNE JULIAN   47.0   18  European American  Data Structue
573              VALERIE AGARD   79.0   18  European American  Data Structue
574             VALERIE INOUYE   69.0   20  European American  Data Structue
575                     VAN LY   79.0   21     White American  Data Structue
576                 VENUS AZAR   69.0   18     White American  Data Structue
577            VERNONICA JONES   79.0   19     White American  Data Structue
578              VICKI CLAYTON   76.0   18     White American  Data Structue
579              VICTOR WYRSCH   59.0   21     White American  Data Structue
580              VINCENT DAVIS   89.0   18   African American  Data Structue
581           VINCENT PAMPANIN   85.0   20     White American  Data Structue
582                 VIVIAN DAY   39.0   21           Hispanic  Data Structue
583            WAYNE SNODGRASS   89.0   18           Hispanic  Data Structue
584                WENDY STILL   85.0   18  European American  Data Structue
585                WHITNEY YEE   47.0   20     White American  Data Structue
586          WILLIAM MCFARLAND   79.0   19     White American  Data Structue
587          WILLIAM MCFARLAND   39.0   18           Hispanic  Data Structue
588            WILLIAM MULKEEN   82.0   19  European American  Data Structue
589              WILLIAM RADER   76.0   20           Hispanic  Data Structue
590           WILLIAM ROUALDES   59.0   19     White American  Data Structue
591              WILLIAM SCOTT   82.0   19           Hispanic  Data Structue
592         WILLIAM SIFFERMANN   85.0   20           Hispanic  Data Structue
593                  WING CHAN   82.0   19  European American  Data Structue
594                    WING NG   39.0   19     White American  Data Structue
595                YIFANG QIAN   69.0   18     White American  Data Structue
596           ZACHARY PUMPHREY   47.0   20     White American  Data Structue
597  ZEBA IMAN NAZEERI-SIMMONS   69.0   20           Hispanic  Data Structue
598            ZHI JIAR ZHUANG    0.0   19           Hispanic  Data Structue

    Sex   ID
0     M    1
1     M    2
2     M    3
3     M    4
4     F    5
5     M    6
6     M    7
7     M    8
8     M    9
9     F   10
10    M   11
11    M   12
12    M   13
13    M   14
14    F   15
15    M   16
16    M   17
17    M   18
18    M   19
19    F   20
20    M   21
21    M   22
22    M   23
23    M   24
24    F   25
25    M   26
26    M   27
27    M   28
28    M   29
29    F   30
..   ..  ...
569   F  570
570   M  571
571   M  572
572   M  573
573   M  574
574   F  575
575   M  576
576   M  577
577   M  578
578   M  579
579   F  580
580   M  581
581   M  582
582   M  583
583   M  584
584   F  585
585   M  586
586   M  587
587   M  588
588   M  589
589   F  590
590   M  591
591   M  592
592   M  593
593   M  594
594   F  595
595   M  596
596   M  597
597   M  598
598   M  599

[1797 rows x 7 columns]

In [49]:
#Convert Sex M to 1 and F to 2

combinedalldata['Sex'] = combinedalldata['Sex'].map({'M':1,'F':2}).astype(int)
print (combinedalldata)

                          Name  Score  Age         Ethinicity        Subject  \
0               AI-KYUNG CHUNG   88.0   18     White American          Maths
1                  ALAN HARVEY   85.0   19  European American          Maths
2                 ALAN REYNAUD   45.0   19  European American          Maths
3               ALBERT CENDANA   82.0   18     White American          Maths
4               ALBERT HOLT JR   82.0   18     White American          Maths
5               ALBERT PARDINI   95.0   20     White American          Maths
6                    ALBERT YU   95.0   18     White American          Maths
7              ALBERTO PEDRUCO   65.0   19     White American          Maths
8                   ALEC BALMY   88.0   18           Hispanic          Maths
9            ALEETA VAN RUNKLE   88.0   19           Hispanic          Maths
10                    ALEX TSE   53.0   20     White American          Maths
11              ALEXANDER CHEN   53.0   20     White American          Maths
12              ALEXANDER KWAN   66.0   19     White American          Maths
13              ALEXIS GOLDNER   88.0   18     White American          Maths
14                ALLEN TURPIN   88.0   21     White American          Maths
15                   ALSON LEE   82.0   20     White American          Maths
16                   ALVIN LAU   31.0   18     White American          Maths
17                   AMEN CHOW   95.0   18  European American          Maths
18            AMPARO RODRIGUEZ   91.0   18           Hispanic          Maths
19                   AMY BROWN   66.0   18     White American          Maths
20                    AMY HART   82.0   18           Hispanic          Maths
21                 ANA SAMPERA   66.0   18  European American          Maths
22            ANDRE ANDREWS SR   75.0   18     White American          Maths
23              ANDRE WILLIAMS   65.0   19           Hispanic          Maths
24                ANDREW LOGAN   91.0   20  European American          Maths
25                ANDREW SAITZ   91.0   18     White American          Maths
26                 ANDY ZANOFF   53.0   20           Hispanic          Maths
27              ANGELA PLATZER   91.0   20  European American          Maths
28                  ANN MANNIX   88.0   21           Hispanic          Maths
29                  ANNA BROWN   85.0   19     White American          Maths
..                         ...    ...  ...                ...            ...
569                 TRYG MCCOY   59.0   19           Hispanic  Data Structue
570             TUAMELIE MOALA   39.0   19  European American  Data Structue
571              TYRONE PRUITT   76.0   20           Hispanic  Data Structue
572             TYRONNE JULIAN   47.0   18  European American  Data Structue
573              VALERIE AGARD   79.0   18  European American  Data Structue
574             VALERIE INOUYE   69.0   20  European American  Data Structue
575                     VAN LY   79.0   21     White American  Data Structue
576                 VENUS AZAR   69.0   18     White American  Data Structue
577            VERNONICA JONES   79.0   19     White American  Data Structue
578              VICKI CLAYTON   76.0   18     White American  Data Structue
579              VICTOR WYRSCH   59.0   21     White American  Data Structue
580              VINCENT DAVIS   89.0   18   African American  Data Structue
581           VINCENT PAMPANIN   85.0   20     White American  Data Structue
582                 VIVIAN DAY   39.0   21           Hispanic  Data Structue
583            WAYNE SNODGRASS   89.0   18           Hispanic  Data Structue
584                WENDY STILL   85.0   18  European American  Data Structue
585                WHITNEY YEE   47.0   20     White American  Data Structue
586          WILLIAM MCFARLAND   79.0   19     White American  Data Structue
587          WILLIAM MCFARLAND   39.0   18           Hispanic  Data Structue
588            WILLIAM MULKEEN   82.0   19  European American  Data Structue
589              WILLIAM RADER   76.0   20           Hispanic  Data Structue
590           WILLIAM ROUALDES   59.0   19     White American  Data Structue
591              WILLIAM SCOTT   82.0   19           Hispanic  Data Structue
592         WILLIAM SIFFERMANN   85.0   20           Hispanic  Data Structue
593                  WING CHAN   82.0   19  European American  Data Structue
594                    WING NG   39.0   19     White American  Data Structue
595                YIFANG QIAN   69.0   18     White American  Data Structue
596           ZACHARY PUMPHREY   47.0   20     White American  Data Structue
597  ZEBA IMAN NAZEERI-SIMMONS   69.0   20           Hispanic  Data Structue
598            ZHI JIAR ZHUANG    0.0   19           Hispanic  Data Structue

     Sex   ID
0      1    1
1      1    2
2      1    3
3      1    4
4      2    5
5      1    6
6      1    7
7      1    8
8      1    9
9      2   10
10     1   11
11     1   12
12     1   13
13     1   14
14     2   15
15     1   16
16     1   17
17     1   18
18     1   19
19     2   20
20     1   21
21     1   22
22     1   23
23     1   24
24     2   25
25     1   26
26     1   27
27     1   28
28     1   29
29     2   30
..   ...  ...
569    2  570
570    1  571
571    1  572
572    1  573
573    1  574
574    2  575
575    1  576
576    1  577
577    1  578
578    1  579
579    2  580
580    1  581
581    1  582
582    1  583
583    1  584
584    2  585
585    1  586
586    1  587
587    1  588
588    1  589
589    2  590
590    1  591
591    1  592
592    1  593
593    1  594
594    2  595
595    1  596
596    1  597
597    1  598
598    1  599

[1797 rows x 7 columns]

In [50]:
#6 Storing data in new file
combinedalldata.to_csv('/Users/TigeressQueen/Downloads/Python for Data Science/DS_mod4/Assignment_Module 4/codes/ScoreFinal.csv')